.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15%;
  justify-content:flex-end;
}



#todosId {
  color: orange;
  font-size: 60px;
  letter-spacing: 5px;
  font-family: 'Courier';
  margin-bottom:10%;
  margin-top:4%;
  text-align:center;
  font-weight: 800;
}


.createInpt {
  height: 60px!important;
  width: 600px;
  border: none;
  font-size: 25px;
  padding: 2%;
  opacity: 0.4;
  font-style: italic;
  box-sizing: border-box;
  box-shadow: 0 0px 0px 0 white, 10px -15px 50px 0 rgba(0, 0, 0, .19) !important; 

}






.createInpt1 {
  height: 60px!important;
  width: 600px;
  border: none;
  font-size: 25px;
  padding: 2%;
  opacity: 1;
  box-sizing: border-box;
  box-shadow: 0 0px 0px 0 white, 10px -15px 50px 0 rgba(0, 0, 0, .19) !important;  
}



.yesV1 {
  display: block;
  /*height:80px!important;*/
  height:100px!important;
  text-align: left;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19) !important;
  width: 600px;
  border: none;
  border-top: 1px solid lightgray;
  background-color: white;
  padding: 2%;
  box-sizing: border-box;
  margin:0 auto!important;
  padding-bottom: 5%;



}


.yesV1Opt  {
  display: block;
  height:60px!important;
  text-align: left;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19) !important;
  width: 600px;
  border: none;
  border-top: 5px solid lightgray;
  background-color: white;
  padding: 2%;
  box-sizing: border-box;
  font-family:'Verdana';
  margin:0 auto!important;
  height:10%!important;


}

.allDelParShow {
  display:inline-block;
  font-weight:600;
  color:gray!important;
  opacity:0.6;
}
.allDelParShow:hover {
  color:black!important;
  font-weight:600;
  opacity:1;
}


.allDelParHide {
  display:none;
}

.noV1 {
  display:none
}


#aId1 {
  text-decoration:none!important;
  color:gray!important;
}



.yesV1First {
  display: block;
  height:60px!important;
  text-align: left;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19) !important;
  width: 600px;
  background-color: white;
  /*text-indent: 3%;*/
  padding: 2%;
  box-sizing: border-box;
  margin:0 auto!important;
}





.yesV1Warn {
  display: block;
  height:40px!important;
  text-align: left;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19) !important;
  width: 600px;
  border: none;
  background-color: white;
  padding: 2%;
  box-sizing: border-box;
  margin:0 auto!important;
  font-weight:800;
}


.centerDiv {
  background-color:red;
  width:50%;
  margin:0 auto;
}


.container {
  display:flex;
  flex-direction:column;
  margin-bottom:15%;
}

.btnsStyle {
  display:inline!important;
}


.tdStyle {
  display:inline!important;
  padding-left:5%;
}


.ownStajl {
  color: #7f0000!important;
  color:orangered!important;
  opacity:0.4;
}


.ownStajlFav {
 color:orangered!important;
 font-size:20px;
}


.ownStajl:hover {
  color:hsl(0, 100%, 25%)!important;
  color:orangered!important;
  opacity:1;
}


#formId {
  opacity:1;
  border-bottom:5px solid orange;
  width:600px;
  margin:0 auto!important;
}




.showFavStar {
  display:block;
}

.hideFavStar {
  display:none;
}

.errorRed {
  color:orangered;
}